<?xml version="1.0"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite parallel="tests" thread-count="1" name="Automation Suite">

    <test  name="TestSuit1">
        <classes>
            <class name="Officemart"/>
        </classes>
    </test>
    <test
          name="Search">
        <classes>

        </classes>
    </test>
    <test
            name="Test2">
        <classes>

        </classes>
    </test>
    <test
            name="Test3">
        <classes>

        </classes>
    </test>



</suite>

